{
    "presets": [
        "@babel/typescript",
        "@babel/preset-env",
        "@babel/preset-react",
        "@linaria"
    ],
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "displayName": true
            }
        ]
    ]
}
